@mixin grid(
  $gap: 1em,
  $minWidth: 1em,
  $maxWidth: 22em,
  $justify-content: center
) {
  display: grid;
  gap: $gap;
  justify-content: $justify-content;
  grid-template-columns: repeat(auto-fit, minmax($minWidth, $maxWidth));
}

@mixin center($display: flex, $justify-content: center, $align-items: center) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
